* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--very-light-green);
}

.mainContainer {
  width: 60%;
  margin: auto;
  background-color: var(--white);
}