.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0px 10px 10px 0px rgba(100,182,172,0.8);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(100,182,172,0.8);
    -moz-box-shadow: 0px 10px 10px 0px rgba(100,182,172,0.8);

    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 2px solid var(--medium-green);
        border-radius: 50%;

        .logo {
            width: 50px;
            height: 50px;
        }
    }

    .searchContainer {
        width: 50%;

        .searchInput {
            width: 100%;
            padding: 0.5rem 1rem;
            border: 2px solid var(--medium-green);
            border-radius: 1rem;

            &:focus-visible {
                border: 2px solid var(--medium-green);
            }
        }
    }

    .profileContainer {
        .connectButton {
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 1rem;
            background-color: var(--medium-green);
            color: var(--white);
            font-weight: 700;
        }
    }
}